<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="boolean">
            <name>live</name>
            <label>Live</label>
            <value>true</value>
            <description>Ist das Plugin live im inhouse?</description>
        </element>

        <element type="button">
            <name>testButton</name>
            <label><![CDATA[<b>Test Einstellungen</b>]]></label>
        </element>

        <element type="textarea">
            <name>availablePrinters</name>
            <label>Verfügbare Drucker</label>
            <value><![CDATA[PRT18
PRT50
PRT100]]></value>
            <description>Welche Drucker gelten als verfügbar?</description>
        </element>

        <element type="text">
            <name>validPrinter</name>
            <label>Gültiger Drucker</label>
            <value>PRT18</value>
            <description>Auf welchem verfügbaren Drucker kann tatsächlich gedruckt werden? Bei allen anderen Druckern schlägt der Druck fehl.</description>
        </element>

        <element type="text">
            <name>defaultPrinter</name>
            <label>Standard Drucker</label>
            <value>PRT18</value>
            <description>Welcher Drucker ist der standard Drucker des aktuellen Clients?</description>
        </element>

    </elements>
</config>